command-flow.json
[{"id":"7bd25c7e.2616a4","type":"tab","label":"IOT Simulator Command","disabled":false,"info":""},{"id":"8369fa38.578a68","type":"inject","z":"7bd25c7e.2616a4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"red","payloadType":"str","x":130,"y":220,"wires":[["a2c6954a.991e58"]]},{"id":"a2c6954a.991e58","type":"template","z":"7bd25c7e.2616a4","name":"cmd","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"set\":\"{{payload}}\"}","output":"str","x":330,"y":220,"wires":[["b57e8de5.a0fe4"]]},{"id":"b57e8de5.a0fe4","type":"ibmiot out","z":"7bd25c7e.2616a4","authentication":"boundService","apiKey":"d83b2d4b.38bfa","outputType":"evt","deviceId":"MQTT_IOTF_0","deviceType":"IOTsimulator","eventCommandType":"cmd","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":540,"y":220,"wires":[]},{"id":"c6699f85.f97e8","type":"inject","z":"7bd25c7e.2616a4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"orange","payloadType":"str","x":130,"y":260,"wires":[["a2c6954a.991e58"]]},{"id":"7704414a.c6995","type":"inject","z":"7bd25c7e.2616a4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"steelBlue","payloadType":"str","x":140,"y":300,"wires":[["a2c6954a.991e58"]]},{"id":"98eaf218.4118","type":"inject","z":"7bd25c7e.2616a4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"white","payloadType":"str","x":130,"y":340,"wires":[["a2c6954a.991e58"]]},{"id":"18913381.a327cc","type":"ibmiot in","z":"7bd25c7e.2616a4","authentication":"boundService","apiKey":"d83b2d4b.38bfa","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"IOTsimulator","eventType":"sim","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":130,"y":100,"wires":[["a3d9548.8d3aea8","c9697e73.ac7a"]]},{"id":"a3d9548.8d3aea8","type":"debug","z":"7bd25c7e.2616a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":100,"wires":[]},{"id":"4743b267.80585c","type":"ui_chart","z":"7bd25c7e.2616a4","name":"","group":"f275fea9.89647","order":9,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":530,"y":140,"wires":[[]]},{"id":"c9697e73.ac7a","type":"change","z":"7bd25c7e.2616a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":140,"wires":[["4743b267.80585c"]]},{"id":"4d283f0.b72e8c","type":"inject","z":"7bd25c7e.2616a4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"20","payloadType":"num","x":130,"y":460,"wires":[["fa7e0496.68a218"]]},{"id":"fa7e0496.68a218","type":"template","z":"7bd25c7e.2616a4","name":"timeseries","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"set\":\"{{payload}}\"}","output":"str","x":350,"y":420,"wires":[["d5da6c57.174e1"]]},{"id":"d5da6c57.174e1","type":"ibmiot out","z":"7bd25c7e.2616a4","authentication":"boundService","apiKey":"d83b2d4b.38bfa","outputType":"evt","deviceId":"MQTT_IOTF_0","deviceType":"IOTsimulator","eventCommandType":"timeseries","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":540,"y":420,"wires":[]},{"id":"aab5bf0a.78ca9","type":"inject","z":"7bd25c7e.2616a4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"21","payloadType":"num","x":130,"y":420,"wires":[["fa7e0496.68a218"]]},{"id":"e8a97f2f.a47e5","type":"inject","z":"7bd25c7e.2616a4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"17","payloadType":"num","x":130,"y":500,"wires":[["fa7e0496.68a218"]]},{"id":"e76e194a.fe8298","type":"inject","z":"7bd25c7e.2616a4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"15","payloadType":"num","x":130,"y":540,"wires":[["fa7e0496.68a218"]]},{"id":"d83b2d4b.38bfa","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"f275fea9.89647","type":"ui_group","name":"","tab":"8b71f1dc.e95aa","order":1,"disp":true,"width":"6","collapse":false},{"id":"8b71f1dc.e95aa","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]